<div class="pull-right" style="display:inline-block">
    <a class="btn btn-success" ng-click="modal.open('stage', refresh)">
      <i class="fa fa-plus"></i> Add Stage
    </a>
</div>

<h1><i class="fa fa-tasks"></i> {{ pipeline.name }}</h1>
<h4 style="margin-top: 0;color: #aaa;font-weight: normal;margin-bottom: 30px;"><i class="fa fa-code"></i> {{ project.name }}</h4>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Pipeline Settings</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Pipeline Name</label>
                    <div>
                        <a href="javascript:void(0);" class="btn btn-xs btn-default pull-right"><i class="fa fa-pencil"></i></a>
                        {{ pipeline.name }}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label><i class="fa fa-code"></i> Project</label>
                    <div>
                        <a href="javascript:void(0);" class="btn btn-xs btn-default pull-right"><i class="fa fa-pencil"></i></a>
                        {{ project.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right column -->
    <div class="col-md-9">

        <!-- Pipeline Variables -->
        <div class="panel panel-default">
            <div class="panel-heading">Standard Variables and Helpers</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="monospace"><span class="text-muted">mc.</span>workspace_path</td>
                    <td>The path of the workspace for a given pipeline execution. Example: <code>/path/to/workspaces/pe_123/</code></td>
                </tr>
                <tr>
                    <td class="monospace"><span class="text-muted">mc.</span>timestamp()</td>
                    <td>Generates a timestamp</td>
                </tr>
                </tbody>

            </table>
        </div>


        <!-- Pipeline Variables -->
        <div class="panel panel-default">
            <div class="panel-heading"><a href="javascript:void(0)" class="pull-right btn btn-xs btn-default"><i class="fa fa-plus"></i> Add Custom Variable/Input</a>Custom Variables</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center" style="width: 100px">Required</th>
                    <th>Default Value</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="monospace"><span class="text-muted">mc.var.</span>example_one</td>
                    <td class="text-center"></td>
                    <td><code>example value</code></td>
                    <td><a href="javascript:void(0);" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Edit</a> <a href="javascript:void(0);" class="btn btn-xs btn-default"><i class="fa fa-trash"></i> Delete</a></td>
                </tr>
                <tr>
                    <td class="monospace"><span class="text-muted">mc.var.</span>example_two</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    <td><em class="text-muted">N/A</em></td>
                    <td><a href="javascript:void(0);" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Edit</a> <a href="javascript:void(0);" class="btn btn-xs btn-default"><i class="fa fa-trash"></i> Delete</a></td>
                </tr>
                </tbody>

            </table>
        </div>

        <h3>Stages</h3>

        <!-- Stages -->
        <div class="panel panel-default pipeline-stage" ng-repeat="stage in stages">
            <div class="title-block">
                <i class="fa fa-check-square-o icon"></i>
                <a class="btn btn-default configure" ng-click="toggleOptions($event)">
                  <i class="fa fa-sliders text-muted"></i> Options
                </a>

                <h3>{{ $index + 1 }}. {{ stage.name }}</h3>
                <small class="text-muted">Extension Name › {{ stage.schema.name }}</small>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="(key, option) in stage.schema.options">
                    <div class="col-md-4">
                        <h4>{{ option.name }}</h4>
                        <p>{{ option.description }}</p>
                    </div>
                    <div class="col-md-8" ng-switch="option.type">
                        <textarea ng-switch-when="textarea" ng-model="form[key]" class="form-control monospace">{{ stage.options[key] }}</textarea>
                        <input ng-switch-default ng-model="form[key]" type="text" class="form-control monospace" placeholder="{{ stage.options[key] }}" />
                    </div>
                </div>
                <hr>
                <!-- <h3>Output</h3>
                <div class="row">
                    <div class="col-md-4">
                        <code>example_something</code>
                    </div>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="check1"> Save output to pipeline variable
                            </label>
                        </div>
                        <input type="text" class="form-control" ng-show="check1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <code>another_something</code>
                    </div>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="check2"> Save output to pipeline variable
                            </label>
                        </div>
                        <input type="text" class="form-control" ng-show="check2">
                    </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-danger pull-left" ng-click="remove(stage.id)">Delete Stage</button>
                    <button class="btn btn-success pull-right" ng-click="save(stage.id)">Save Stage Options</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<hr>-->

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<h2>Completed Executions</h2>-->
        <!--<table class="table">-->
            <!--<tbody>-->
            <!--<tr ng-repeat="pe in pipelineExecutions">-->
                <!--<td class="text-center" style="vertical-align:middle;width: 30px;padding-right: 0;">-->
                    <!--<i class="fa fa-circle text-info" ng-if="pe.status === 'created'"></i>-->
                    <!--<i class="fa fa-circle text-info" ng-if="pe.status === 'queued'"></i>-->
                    <!--<i class="fa fa-circle text-info pulse" ng-if="pe.status === 'running'"></i>-->
                    <!--<i class="fa fa-circle text-warning" ng-if="pe.status === 'awaiting_confirmation'"></i>-->
                    <!--<i class="fa fa-circle text-danger" ng-if="pe.status === 'failed'"></i>-->
                    <!--<i class="fa fa-circle text-success" ng-if="pe.status === 'succeeded'"></i>-->
                <!--</td>-->
                <!--<td><a ui-sref="pipeline-execution-details({id: pe.id})">Execution #{{ pe.id }}<span ng-if="pe.status === 'awaiting_confirmation'"> &ndash; Awaiting Confirmation</span></a><br><small class="text-muted">{{ pe.pipeline_config_name }}</small></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->
<!--</div>-->
