<div class="pull-right" style="display:inline-block">
    <a class="btn btn-success" ng-click="modal.open('stage', refresh)">
      <i class="fa fa-plus"></i> Add Stage
    </a>
</div>

<h1><i class="fa fa-tasks"></i> {{ pipeline.name }}</h1>
<h4 style="margin-top: 0;color: #aaa;font-weight: normal;margin-bottom: 30px;"><i class="fa fa-code"></i> {{ project.name }}</h4>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="panel panel-default pipeline-stage" ng-repeat="stage in stages">
            <div class="title-block">
                <i class="fa fa-check-square-o icon"></i>
                <a class="btn btn-default configure"><i class="fa fa-sliders text-muted"></i> Options</a>

                <h3>{{ $index + 1 }}. {{ stage.name }}</h3>
                <small class="text-muted">GitHub › Clone Repository</small>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="margin-top: 0">Inputs/Options</h3>
                        <div class="form-group">
                            <label>Repository</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 style="margin-top: 0">Output</h3>
                        <div class="form-group">
                            <label>Path</label>
                            <input type="text" class="form-control" value="step_1a4g3_example">
                            <p class="help-block">Ex: <code>/path/to/repository</code></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<hr>-->

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<h2>Completed Executions</h2>-->
        <!--<table class="table">-->
            <!--<tbody>-->
            <!--<tr ng-repeat="pe in pipelineExecutions">-->
                <!--<td class="text-center" style="vertical-align:middle;width: 30px;padding-right: 0;">-->
                    <!--<i class="fa fa-circle text-info" ng-if="pe.status === 'created'"></i>-->
                    <!--<i class="fa fa-circle text-info" ng-if="pe.status === 'queued'"></i>-->
                    <!--<i class="fa fa-circle text-info pulse" ng-if="pe.status === 'running'"></i>-->
                    <!--<i class="fa fa-circle text-warning" ng-if="pe.status === 'awaiting_confirmation'"></i>-->
                    <!--<i class="fa fa-circle text-danger" ng-if="pe.status === 'failed'"></i>-->
                    <!--<i class="fa fa-circle text-success" ng-if="pe.status === 'succeeded'"></i>-->
                <!--</td>-->
                <!--<td><a ui-sref="pipeline-execution-details({id: pe.id})">Execution #{{ pe.id }}<span ng-if="pe.status === 'awaiting_confirmation'"> &ndash; Awaiting Confirmation</span></a><br><small class="text-muted">{{ pe.pipeline_config_name }}</small></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->
<!--</div>-->
