<h1>Dashboard</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Active Pipeline Executions
            </div>
            <table class="table">
                <tr>
                    <td>
                        <!-- Group Name » Pipeline Name » Execution ID -->
                        <a href="#">Example Service » Run Tests » #142</a>
                        <br><small class="text-muted"></small>
                        <table class="stage-bar">
                            <tbody>
                            <tr>
                                <td class="successful">&nbsp;</td>
                                <td class="successful">&nbsp;</td>
                                <td class="running pulse">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <small class="text-muted">Stage 3/5 &ndash; Doing example thing</small>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Recent Pipeline Executions
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Monitoring Alerts
            </div>
            <table class="table">
                <tr>
                <td class="text-center"><em class="text-muted">No alerts</em></td>
                </tr>
                <tr>
                    <td class="text-center"><a ui-sref="monitoring">View All Checks</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
